@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i');

body{
	font-size: 20px;
	font-family: 'Cormorant Garamond', serif;
	color: red;
}



h3{
	background-color: yellow;
	color: blue;
}

p {
	line-height: 1.5;
	margin: 0;
	text-indent: 3rem;
}

.noindent{
	text-indent: 0;
}

#intro{
	font-size: 1.5rem;
}